footer[role="footer"]
  opacity: 0.6
  margin-left: rhythm(4)
  margin-top: rhythm(2)
  margin-bottom: rhythm(2)
  max-width: $container-width

  @media (max-width: $breakpoint)
    margin-left: rhythm(1)
    margin-right: rhythm(1)

  p, nav
    display: inline-block

    @media (max-width: $breakpoint)
      display: block

  nav
    float: right

    @media (max-width: $breakpoint)
      float: left

  li
    display: inline-block

    & + li
      margin-left: rhythm(0.25)
