.footer
  +row

  padding-bottom: rhythm(2)
  margin-top: rhythm(3)

  &:before
    color: $color-grey
    content: "—"
    display: block

  &__nav
    a
      background: none
      color: $color-grey

      &:hover
        color: $color-green
