.note
  img
    max-width: 100%

  figure
    margin-bottom: rhythm(0.5)

  h2
    font-weight: $font-weight-semibold
    margin-bottom: rhythm(0.5)

  header
    margin-right: rhythm(4)

    @media (max-width: $breakpoint)
      margin-right: rhythm(1)

  figure
    a
      background: none

  section
    max-width: $container-width

    @media (max-width: $breakpoint)
      max-width: 100%
      margin-right: rhythm(1)

  footer
    font-style: italic
    margin-top: rhythm(1)

  p + p
    margin-top: rhythm(1)
