.note
  img
    max-width: 100%

  .photos
    margin-bottom: rhythm(1)

    a
      background: none
      opacity: 1

  h2
    font-weight: $font-weight-semibold
    font-size: $font-size-1
    margin-bottom: rhythm(0.5)

  header
    margin-right: rhythm(4)

    @media (max-width: $breakpoint)
      margin-right: rhythm(1)

  figure
    a
      background: none

  section
    max-width: $container-width

    @media (max-width: $breakpoint)
      max-width: 100%
      margin-right: rhythm(1)

    p, ul, ol, blockquote
      margin-bottom: rhythm(1)

    blockquote
      border-left: 5px solid lighten($color-primary, 5%)
      color: rgba($color-black, 0.8)
      font-style: italic
      padding-left: rhythm(0.5)


  footer
    font-style: italic
    margin-top: rhythm(1)

  p + p
    margin-top: rhythm(1)
