$color-light-grey: #f2f2ee
$color-grey: #d1d1c3
$color-black: #333
$color-white: #fefefe
$color-green: #56A891

$color-available: #e1f3cb
$color-soon: #cff2ff
$color-unavailable: #e8d4e6
$color-private: #e8d4e6

$font-family-serif: "warnock-pro", Times New Roman, Times, serif

$font-size-base: 20px
$font-size-n2: 0.75em
$font-size-n1: 0.9em
$font-size-0: 1em
$font-size-1: 1.125em
$font-size-2: 1.25em

$font-weight-regular: 400
$font-weight-semibold: 600
$font-weight-bold: 700

$line-height-base: 2
$line-height-normal: 2em

$v: ($font-size-0 / 1em) * $line-height-base * 1rem

$breakpoint: 890px
