$color-black: #111

$font-family-serif: "leitura-news", Times New Roman, Times, serif

$font-size-base: 18px
$font-size-0: 1em
$font-size-1: 1.2em

$font-weight-light: 300
$font-weight-regular: 400
$font-weight-semibold: 600
$font-weight-bold: 700

$line-height-base: 2
$line-height-normal: 2em

$v: ($font-size-0 / 1em) * $line-height-base * 1rem

$container-width: 65vw
$breakpoint: 960px
