---
layout: default
---

<div class="information">
  <div class="body">
    <span class="avatar"></span>
    {{ content }}
  </div>

  <div class="sections">
    {% for block in page.blocks %}
      <section>
        <h3>{{ block.title }}</h3>
        {% for entry in block.entries %}
          <article>
            <h4><a href="{{ entry.link }}">{{ entry.title }}</a></h4>
            <p>{{ entry.description }}</p>
            <span>{{ entry.range }}</span>
          </article>
        {% endfor %}
      </section>
    {% endfor %}
  </div>
</div>
