---
layout: default
---

<div class="block">
  <h3 class="block__title">About</h3>
  <div class="block__body block__body--text">
    <img src="{{ page.profile_image }}">
    {{ content }}
  </div>
</div>

{% for block in page.blocks %}
  <div class="block">
    <h3 class="block__title">{{ block.title }}</h3>
    <div class="block__body">
      {% for entry in block.entries %}
        <div class="entry">
          <h4 class="entry__title"><a href="{{ entry.link }}">{{ entry.title }}</a></h4>
          <p class="entry__description">{{ entry.description }}</p>
          {% if entry.range %}
            <p class="entry__range">{{ entry.range }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
