---
layout: default
---

<article class="note">
  <header>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <div class="photos">
      {% for image in page.images %}
        <a href="{{ image }}">
          <img data-original="{{ image }}">
          <noscript>
            <img src="{{ image }}">
          </noscript>
        </a>
      {% endfor %}
    </div>
  </header>
  <section>
    {{ page.content }}
  </section>
  <footer>
    <p>{{ page.date | date:'%B %-d, %Y' }}</p>
  </footer>
</article>
